<script>
    function openPage(pageName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        // activetab = document.getElementsByClassName(pageName).style.display = "none"
        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].style.backgroundColor = "";
        }
      
        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";
      
        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;
      }
      
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
    </script>
{% extends 'base.html' %}
{%block header%}
    <h1>{%block title%}My account{%endblock%}</h1>
{%endblock%}
{%block content%}
    <form method="post"> 

            <div class="tab">
                <button class="tablink" onclick="openPage('changeP',this,'red')">Change password</button>
                <button class="tablink" onclick="openPage('books1', this,'red')">Books</button>
                <button class="tablink" onclick="openPage('#', this,'red')">#</button>
            </div>
            <div id = "books1" class="tabcontent" >
                <label id = "h3B">Borrowed books</label>
                <select name="sometext" method="post" action="/" >
                    {%for item in g.list%}
                        <option value="{{item}} ">{{item}} </option>
                    {%endfor%}
                </select>
                <h4 id = "h3B">Rental history</h3>
                <select name="sometext" method="post" action="/" >
                {%for item in g.list2%}
                    <option value="{{item}} ">{{item}} </option>
                {%endfor%}
                </select>
            </div>
            <div id = "changeP" class="tabcontent" >
                <h3 id = "h3">New password set up</h3>
                <input type = "text" name = "oldPass"  id="pass" placeholder="Old password" required>
                <input type = "text" name = "NewPass"  id="pass" placeholder="New password" required>
                <button id = "changePB" type="submit" >Set password</button>

            </div>
        
    </form> 
    
    
{%endblock%}
{%block back%}
<div>
<nav>
    <a id = "backB" href = "{{url_for('user.user',id=g.user['id'])}}">Go back</a>
</nav>
</div>
{%endblock%}