{% extends 'base.html' %}
{%block header%}
    <h1>{%block title%}User Log In{%endblock%}</h1>
{%endblock%}
{%block content%}
    <div class="Container">
        <a href="{{url_for('user.borrowB',id = g.user['id'])}}">
            <button>Borrow a book</button>
        </a>

        <a href="{{url_for('user.returnB',id = g.user['id'])}}">
            <button>Return a book</button>
        </a>

        <a href="{{url_for('user.account',id = g.user['id'])}}">
            <button>My account</button>
        </a>
    </div>
{%endblock%}
