{% extends 'base.html' %}
{%block header%}
    <h1>{%block title%}Remove book from archive{%endblock%}</h1>
{%endblock%}
{%block content%}
    <form method="post"> 
        <select name="sometext" method="post" >
            {%for item in g.list%}
              <option value="{{item}} ">{{item}} </option>
            {% endfor %}
          </select>
        <!-- <input name = "removeB", id="removeB"> -->
        <button id = "removeBb" type="submit" >Remove book</button>
        <!-- <input type="hidden" name = "removeBselection" id = "removeBselection" class="removeBselection"> -->
        
    </form> 
    
{%endblock%}
