{% extends 'base.html' %}
{%block header%}
    <h1>{%block title%}Set book amount{%endblock%}</h1>
{%endblock%}
{%block content%}
    <form method="post" id = setAmountS> 
        <div class="setAmountD">
        <select name="sometext" method="post" action="/" size = "5">
            {%for item in g.list%}
              <option value="{{item}} ">{{item}} </option>
            {% endfor %}
          </select>
        <input name = "setAmount", id="setAmount">
        <button id = "setAmountB" type="submit" >Set amount</button>
        <input type="hidden" name = "amountSelection" id = "amountSelection" class="amountSelection">
        </div>
    </form> 
    
{%endblock%}
